*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
  }

.sa_primid{
  
  margin-bottom: 125px;
  text-align: center;
    /* margin-left: 65px;
    margin-right: -7px; */
}
 .sa_plan{
      color: rgb(65, 9, 77);
      text-align: center;
      font-size: 40px;
      font-family: "great-vibes"sans-serif;
      padding: 90px 0px 57px;

  }
  .sa_period{
    color: rgb(233, 223, 211);

  }

  .sa_desc{
   text-align: center;
   font-size: 20px;
   margin-bottom: 69px;

  }

  .sa_pricing{
    display: flex;
    width: 80%;
    /* margin-left: 188px; */
    /* box-sizing: border-box; */
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;

  }

.sa_gif{

  border-radius: 543px;
  width: 109px;
  /* margin-left: 665px; */
  margin-top: -43px;
  margin-bottom: 25px;
}
 
  .sa_weekly{
    background: linear-gradient(145deg,#b8156f 0,#8822a7 100%);
    text-align: center;
    margin: 20px;
     padding: 70px 50px;
    border-radius: 10px;
    width: 25%;
  }

  .sa_monthly{
    background: linear-gradient(145deg,#5c093c 0,#1d1280 100%);
    text-align: center;
    margin: 20px;
    padding: 70px 50px;
    border-radius: 10px;
    width: 25%;
  }

  .sa_trail{

   
    width: 200px;
    max-width: 100%;
    background: linear-gradient(145deg,#f05a28 0,#ec008c 100%);
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 10px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 35px;
  }

  .sa_yearly{
    background: linear-gradient(145deg,#a54120 0,#0b6b83 100%);
    text-align: center;
    margin: 20px;
    padding: 70px 50px;
    border-radius: 10px;
    width: 25%;
  }


.sa_money{
    font-size: 36px;
    padding-bottom: 32px;
    color: beige;
}

.sa_klam{

padding-left: 15px;
line-height: 2.4em;
font-family: "Roboto",Sans-serif;
text-align: left;

}

.sa_onlist{
    padding: 13px;
    color: rgb(233, 223, 211);
   
}
